.popup {
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: visibility .3s linear, opacity .3s linear;
  position: fixed;
  background-color: rgba(0, 0, 0, .5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  z-index: 1;
  color: #000;
}