.form__btn {
  cursor: pointer;
  padding: 0;
  border: none;
  margin-top: 45px;
  min-height: 46px;
  border-radius: 2px;
  background-color: #000;
  color: #fff;
  font-size: 14px;
  line-height: 17px;
  transition: background-color .11s linear;
}

.form__btn:hover {
  background-color: rgba(0, 0, 0, .8);
}

@media (min-width: 768px) {
  .form__btn {
    margin-top: 48px;
    min-height: 50px;
    font-size: 18px;
    line-height: 22px;
  }
}