.view-photo__close-btn {
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  border: none;
  margin: 0;
  background-image: url(../../../images/close-icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -16px;
  right: 0;
  font-size: 0;
  transform: translate(0, -100%);
  transition: opacity .11s linear;
}