.profile {
  display: grid;
  grid-template-columns: auto;
  justify-items: center;
}

@media (min-width: 667px) {
  .profile {
    grid-template-columns: 120px 1fr 150px;
    column-gap: 30px;
    align-items: center;
    justify-items: start;
  }
}