.form__btn_type_save {
  margin-top: 45px;
  height: 46px;
  background-color: #000;
  color: #fff;
  font-size: 14px;
  line-height: 17px;
  transition: background-color .11s linear;
}

.form__btn_type_save:hover {
  background-color: rgba(0, 0, 0, .8);
}

@media (min-width: 768px) {
  .form__btn_type_save {
    margin-top: 48px;
    height: 50px;
    font-size: 18px;
    line-height: 22px;
  }
}