.gallery {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(6, 1fr);
  row-gap: 20px;
  justify-items: center;
}

@media (min-width: 667px) {
  .gallery {
    grid-template-columns: repeat(2, 44%);
    column-gap: 17px;
    justify-content: center;
    grid-template-rows: repeat(3, 1fr);
  }
}

@media (min-width: 934px) {
  .gallery {
    grid-template-columns: repeat(3, 282px);
    grid-template-rows: repeat(2, 1fr);
  }
}