.header {
    padding: 28px 27px 0;
    min-height: 55px;
    border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media (min-width: 768px) {
    .header {
        padding-top: 45px;
        min-height: 73px;
    }
}

@media (min-width: 934px) {
    .header {
        padding-left: 0;
        padding-right: 0;
    }
}