.profile__avatar-wrapper {
  margin-bottom: 26px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
}

@media (min-width: 667px) {
  .profile__avatar-wrapper {
    margin-bottom: 0;
  }
}