.button-add {
    width: 100%;
    padding: 0;
    height: 50px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;
    background-color: transparent;
    cursor: pointer;
}

@media (min-width: 667px) {
    .button-add {
        width: 150px;
    }
}