.profile__about-myself {
  margin: 6px 0 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  grid-area: about;
  max-width: 100%;
}

@media (min-width: 667px) {
  .profile__about-myself {
    margin-top: 16px;
  }
}

@media (min-width: 768px) {
  .profile__about-myself {
    font-size: 18px;
    line-height: 22px;
  }
}