.card__trash-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0;
  border: none;
  background-color: transparent;
  font-size: 0;
  line-height: 0;
  background-image: url(../../../images/icon-trash.svg);
  cursor: pointer;
  width: 18px;
  height: 19px;
  transition: opacity .11s linear;
  color: inherit;
}

.card__trash-btn:hover {
  opacity: .6;
}