.place-card__form-custom-like {
    display: inline-block;
    vertical-align: middle;
    width: 22px;
    height: 19px;
    background-image: url(../../../images/like-disabled.svg);
}

.place-card__form-item_el_like:checked + .place-card__form-custom-like {
    background-image: url(../../../../images/like-active.svg);
}