.button_type_close {
  margin: 0;
  background-image: url(../../../images/close-icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -16px;
  right: 0;
  font-size: 0;
  transform: translate(0, -100%);
  transition: opacity .11s linear;
}

.button_type_close:hover {
  opacity: .6;
}

@media (min-width: 667px) {
  .button_type_close {
    top: -8px;
    right: -8px;
    transform: translate(100%, -100%);
  }
}

@media (min-width: 768px) {
  .button_type_close {
    width: 32px;
    height: 32px;
  }
}