.content {
  padding: 42px 19px 48px;
}

@media (min-width: 768px) {
  .content {
    padding-top: 40px;
  }
}

@media (min-width: 934px) {
  .content {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 66px;
  }
}